 .body-center {
  text-align: center;
  }

  body {
    background-color: rgb(245, 245, 245)
    }
  
  .eth-text {
    color: #1A202C;
    font-weight: bold;
    }

    .read-docs-button {
      background-color: rgb(28, 28, 255);
      color: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 15;    
      transition: opacity 0.15s ;  
       padding-top: 15px;
       padding-bottom: 15px; 
       padding-left: 90px;
       padding-right: 90px;
    }
    .read-docs-button { 
      transition: all .2s ease-in-out;
    }

    .read-docs-button:hover { 
      transform: scale(1.1);
      background-color: rgb(70, 70, 252);
      box-shadow: 3px 3px 0 rgb(229, 229, 235); 
    }

    .read-docs-button:active {
        opacity: 0.7;
        background-color: rgb(116, 116, 255);
      }

      .info-created-by {
        color: #1A202C;
        font-weight: bold;
      }

  img {
    width: 80;
    height: auto;
    text-align: center;
    
  }

  h1, h2, h3, p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
