p {
  font-family: Lexend;
}

body {
  background-color: whitesmoke;
}

.pdf-title {
  display: block;
  margin-left: 49;
  margin-right: 0;
  width: 162px;
  padding-top: 12px;
}

.para-one {
  font-size: 17;
  color: rgb(61, 61, 61);
  line-height: 30px;
}

.best-one {
  font-size: 17;
  color: rgb(61, 61, 61);
}
